<%- include("header") -%>
<h2>This is the about page</h2>
<p>This is some placeholder text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem neque corporis cupiditate impedit voluptates accusamus in, qui culpa ipsum, odio mollitia numquam laborum eius recusandae harum temporibus porro, veritatis placeat.</p>
<%- include("footer") -%>